

.icon-15 {
    display: inline-block;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size: 15px;
    vertical-align: middle;

    &.icon-dropdown{
       background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAklJREFUSA3tVjtsE0EQnVnbEZ8kBeIjypRIoQtUaRBQgJCA+NPYwjZExIEIOkRDRYPoQJA4KNHZyG78EzRQAKJxBSkjUSIqxEcUARIUJ7vM2NnLnuVkbUQFd5J1797Om3czZ80uwP924Z8UPOtUzkmUD1grlJiaSEee9JqnZ+PpXOUqKHmfPTfMJKC4diUVediLuRZbNUopnHbKd8iUKzV1gjle4xhroo2ArgJnFxZCcvG9Q4njOjEifmRM3EHNAWIhMDx0cWJkpOFyWwCrcaHwbHBp7UcVFJxwcyC86wsFTvHzamP9Oa0dMtZeDgb7w4nE6SWX6wDMlnVYBvi+9rPWZlrv2wWj4/HwB/4xBoS6K6YXbGpcojOwGpPs8KYUazvVvpPjsdg3zTFmDgBrmvNqDNaAQQN3hIGgOLPekJdA4JvMhXCOvq1sD0ynj/2ibx3NPq6mQKqjpJlvj/Gf/Q74Hfj3OmCd1Y8K1SO2AcJtoQEi3AESEvOXE+G327XLajyTK3+ipPtbSWhkwt44TyozqeO83rECX4tkP8Y8TbfPk6noATOmHdtntVKLmyI1toJfXsyVSns0x5g5bdrkPRod6b1bZ/VAqP887zZU9fFWUhhdXYb6XLHa2haXvdsiVftqILi7WbnXyvtkbTWHd3sQINOiGB5K/5WDgH5Pqhiz+Qofb25ozryT6d1MMnKT7srkt8JdVWyKZ/KlKSXhHnH6/yFRwPXJZKx56jRjt8M9G3OybL58Vkl1mzEKvJVJRp8y9i+/A2YHfgMpD97A4aZH9QAAAABJRU5ErkJggg==') ;
    }

    &.icon-filter-down {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAT5JREFUSA3tUD1KA1EQnnkLguAFtLXwCLaipgiSxU0qBQshxZ4iYC6RdCKCqdyVXcVio9h6BAtbTyAIQt44sy8pQpL9KQ0zxZuZNzPfN/MBqKkCqoAq8N8UwLKFo2TcA6QQCIdt/7hf1F+n1xQBuRp1iWCbgK6iNBsQ0cKy8pfXuEd6AahbhltKjJ7pISIJEIOG0eP4hom8GbDE7g9C+ZNemZnVV/mF7Zc1xsnLhQV7zbWckIeivd2dM+n9+Pwa8Vbt6dzEgLkM/KPbab7SVSKW6TjJOhbgjsMNyfmyZ/F8cVM82y/Ldx74jXuXFr+ViQWGL29aIAamzXlY/DGAHb40X2a+tjyrRSwQcZodWMKUybccJH4bpFbQary5vNpbm1hgH55e962dDCU2xgtPTw7fJVZTBVQBVUAVWC8F/gAVsWy1+64nvwAAAABJRU5ErkJggg==);
    }
    &.icon-close{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATBJREFUSA3tlkEOgjAQRadFr2HCTTgFS4wmxjMZE40sOQU3IfEaCjUfaQJNp3RM2BhmY5z+mdf+tgDRGqsD/+aA4hZ0Lav03amb1mZ/LvInp/PlL2W16zr12GhzPBV549NoXxK5V0t3Y0zWdlSjEadz89CiBrWYuDtu/7PgJKGCFDVkKI2FWyhqUAu3LMj9Za2G0G2UaMo42yVa9A6CY+FSaBR4Dv4LNBrMwZHH/ts9DW0FtOOYtXosdlfXjw0HSQJFnQiMggn826GRQlHGXicMLhmiFU9WizuOWNpqFwp7wV30cPmg9kESGsPEuJi1OqZxjMadQBAsaSjRYhIsWNoIzSQ17HVqWyqlJxb73h+64a2GdzIm5AsWvE3ooJSqpQ8HC0ctPgR80DW3OvCfDnwApnMDJ+0hTQoAAAAASUVORK5CYII=);
    }
    &.icon-right{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAAKhJREFUWAnt17sNgDAQBNEzPVIAIVVgqiCkAIoEuQIHt3MS0l7qj54nc4THBVzABVzABWYFrvvpsz2q9SVz0RvvUYVNQccjq7BpaBVWAq3AyqA0VgolsXIohUWgBBaDqrEoVInFoSpsCXRgs1MCbdHOfVt7BotDFcjxQBSqQqJQJRKDqpEIlEDKoRRSCiWRMiiNlEArkAOamqofaArpwy7gAi7gAv8q8AHARU/NGI5qFwAAAABJRU5ErkJggg==);
    }
}
